@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5121 PebblePointe Pass,<br />
    Zionsville, IN 46077<br />
    <abbr title="Phone">P:</abbr>
    317.709.2255
</address>

<address>
    <strong>Inquiry:</strong>   <a href="mailto:Support@example.com">btclifford2398@gmail.com</a><br />
</address>