@{
    ViewBag.Title = "Home Page";
}


<div id="homeIndex">
    <div class="row">
        <div class="col-sm-4">
            <h2>Step 1 &raquo;</h2>
        </div>
        <div class="col-sm-4">
            <h2>Step 2 &raquo;</h2>
        </div>
        <div class="col-sm-4">
            <h2>Step 3 &raquo;</h2>
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-4 stepBorder">
            <h3>Register</h3>
            <p><a class="btn btn-default" href="https://localhost:44314/Account/Register">Learn more &raquo;</a></p>
        </div>
        <div class="col-sm-4 stepBorder">
            <h3>Getting started</h3>
            <p><a class="btn btn-default" href="https://localhost:44314/Vehicle/Create">Create Vehicle &raquo;</a></p>
        </div>
        <div class="col-sm-4 stepBorder">
            <h3>View your vehicles</h3>
            <p><a class="btn btn-default" href="https://localhost:44314/Vehicle/Index">View Vehicles &raquo;</a></p>
        </div>
    </div>
    
</div>

<div class="row" id="homeImage">
    <div >
        <img id="kartingHome" src="https://www.j3competition.com/wp-content/uploads/2018/01/hm21.jpg" />
    </div>
</div>


<div id="bigQuoteContainer">
    <div class="row" id="bigQuote">
        <div class="col-md-8">
            <h1>The Importance of Racing Data</h1>
            <p class="blockquote">"With data collection, 'the sooner the better is' always the best answer" -Marissa Mayer</p>
            <p><a href="https://racingcardynamics.com/data-acquisition-fundamentals/" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </div>
    </div>
</div>



